@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --clr-1: white;
  --clr-2: #5f86f2;
  --clr-3: #443d97;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
